# compiled output
/dist
/node_modules
/build
tsconfig.build.tsbuildinfo

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.sublime*

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# coverage
coverage

# nest
.nest_*
